.logo{
    width:75px;
    height:80px;
    object-fit: contain;
    /* margin-right:10px; */
}
.pic{
    
    border-radius: 50%;
    /* display: flex; */
    justify-content: space-between;
    
    border:3px solid black;
    margin:30px;
    background-size: contain;
     margin-top: 40px;
    width: 180px;
    height:180px;
   

}
.he{
    margin-top: 70px;
}
.hee{
    margin-top: 70px;
}
.pici{
    display:flex;
     flex-wrap:wrap;
     /* overflow-x: auto; */
      /* overflow-y: auto; */
      justify-content: center;
}
.name{    
    margin-top: 8px;        
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center
    
}
.card{
    border: 3px solid black;
    height: 250px;
    width: 200px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     background-color: aliceblue;
     border-radius: 15%;
     align-items: center;

}
.card:hover{
    box-shadow: 8px 8px 20px grey;
}
.pico{
    background-size: contain;
    height: 170px;
    width: 150px;
    background-position: center ;
    text-align: center;
    align-items: center;
    margin: auto;

}
.parent{
    display: flex;
    justify-content: center;
    gap: 40px;

}
.para{
    margin-top: 8px;        
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center
    

}
.resto{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 30px;
}
.h1{
    height: 230px;
    width:350px;
    border:5px solid black;
    position: relative;
    overflow: hidden;
}
.reso{
    /* background-size:contain; */
    background-position: center;
    height: 100%;
    width:100%;
    display: block;
    
    object-fit: cover;


}
.simple-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  margin-top: 40px;   
}
.rest-label{
  position: absolute;
  bottom: 4px;
  left: 4px;
  background: rgba(13, 1, 1, 0.6);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 3;
  height: auto;
  font-size: 16px;
 
}
.me{
    border-radius: 50%;
    border: 5px solid black;
    background-image: url("./pic.JPG");
    overflow: hidden;
    justify-content: flex-end;
    height: 230px;
    width:200px;
    background-size: cover;
    background-position: center;
}
.mera{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;

    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
}
.my-info h3 {
  margin: 10px;
  font-size: 25px;
  font-weight: 625;
  justify-content: flex-end;
}
.my-info p {
  margin: 9px 0;
  font-size: 14px;
  justify-content: flex-end;
  /* grid-row-start: auto; */
}
.r{
     justify-content: flex-end;
     padding: 20px 40px;

}
#carouselExampleCaptions .carousel-item img {
  height: 650px;      
  width: 100%;
  object-fit: cover;  
  display: block;
}
#carouselExampleCaptions {
  max-height: 650px;
  overflow: hidden;
}
